{% extends 'shop/base.html' %}

{% block content %}

    {% for item in cart %}
        {{ item.quantity }} {{ item.price }}
        {{ item.total_price }}
    {% endfor %}


    Total {{ cart.get_total_price }}



    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}

    </form>

{% endblock %}